<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RaFeed</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/manager.css}" />
  </head>

  <body>
    <div id="wrapper">
      <header id="header" th:replace="~{fragments/header :: header}"></header>
      <main id="main">
        <h2>회원 관리</h2>
        <div id="inner">
          <div id="managerLeft">
            <div id="managerLeftInner">
              <span>관리자 *** 님</span>
              <ul>
                <li><a href="./managerboardList">게시판 관리</a></li>
                <li class="on"><a href="">회원 목록</a></li>
                <li><a href="./managerRegisterThema">카테고리 관리</a></li>
              </ul>
            </div>
          </div>
          <div id="managerRight">
            <div id="managerSearch">
              <div class="searchWrapper">
                <form class="searchWrap managerSearchWrap" action="#">
                  <select name="boardCate" id="cate">
                    <option value="" disabled selected hidden>
                      카테고리를 선택하세요
                    </option>
                    <option value="php">PHP</option>
                    <option value="java">Java</option>
                    <option value="golang">Golang</option>
                    <option value="python">Python</option>
                    <option value="c#">C#</option>
                    <option value="C++">C++</option>
                    <option value="erlang">Erlang</option>
                  </select>
                  <button id="search-button">
                    <img th:src="@{/img/ico-search-wh-56x56.png}" alt="Search" />
                  </button>
                </form>
              </div>
              <div class="searchWrapper">
                <div class="searchWrap managerSearchWrap">
                  <input
                    id="searchInput"
                    type="text"
                    placeholder=" 게시글 제목: "
                  />
                  <button id="search-button">
                    <img th:src="@{/img/ico-search-wh-56x56.png}" alt="Search" />
                  </button>
                </div>
              </div>
              <div class="searchWrapper">
                <form
                  class="searchWrap managerSearchWrap"
                  id="managerSearchDate"
                  action="/submit"
                  method="post"
                >
                  <input type="date" id="start" name="startDate" required />
                  <input type="date" id="end" name="endDate" required />
                  <button type="submit">제출</button>
                </form>
              </div>
            </div>
            <table>
              <thead>
                <tr>
                  <th>id</th>
                  <th>닉네임</th>
                  <th>이메일</th>
                  <th>취향</th>
                  <th>나이</th>
                  <th>성별</th>
                  <th>가입일</th>
                </tr>
              </thead>
              <tbody id="userTableBody"></tbody>
            </table>
            <div id="contentNav">
              <nav class="pagination">
                <button class="page-btn prev" aria-label="이전 페이지">
                  &lt;
                </button>
                <ul class="page-list"></ul>
                <button class="page-btn next" aria-label="다음 페이지">
                  &gt;
                </button>
              </nav>
              <div class="select_box array_num">
                <select name="numbers" id="sarray_numbers">
                  <option value="5">5개</option>
                  <option value="10" selected>10개</option>
                  <option value="15">15개</option>
                  <option value="20">20개</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer id="footer" th:replace="~{fragments/footer :: footer}"></footer>
    </div>
    <script th:src="@{/js/common.js}"></script>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          { pageLanguage: 'ko', includedLanguages: 'en,ja,zh-CN,ko' },
          'google_translate_element'
        );
      }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/userManagement.js}"></script>
  </body>
</html>
