<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <meta name="page" content="approvalList"/>
        <title>RaFeed</title>
        <!-- 공통사용 -->
        <link rel="stylesheet" th:href="@{/css/reset.css}"/>
        <link rel="stylesheet" th:href="@{/css/common.css}"/>
        <!-- 각화면 css 생성하여 사용 -->
        <link rel="stylesheet" th:href="@{/css/approval.css}"/>
    </head>
    <body>
        <div id="wrapper">
            <!-- header(공통사용) -->
            <header id="header" th:replace="~{fragments/header :: header}"></header>
            <!-- 작업영역 -->
            <main id="main">
                <div id="approvalMain">
                    <h1 id="gate">식당신청</h1>

                    <div id="postNumber">
                        <div class="list-table-header">
                            <span class="col-id">번호</span>
                            <span class="col-name">제목</span>
                            <span class="col-writer">글쓴이</span>
                            <span class="col-date">날짜</span>
                        </div>
                        <!-- 목록 영역 -->
                        <div id="listContent"></div>
                    </div>

                    <div id="contentNav">
                        <div class="paging" id="pagination"></div>
                        <a th:if="${#authorization.expression('isAuthenticated()')}"
                           href="/approval/write"
                           class="writing">글쓰기</a>
                    </div>
                </div>
            </main>
            <!-- footer영역(공통사용) -->
            <footer id="footer" th:replace="~{fragments/footer :: footer}"></footer>
        </div>

        <!-- 공통사용 -->
        <script th:src="@{/js/common.js}"></script>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement(
                    {pageLanguage: 'ko', includedLanguages: 'en,ja,zh-CN,ko'},
                    'google_translate_element'
                );
            }
        </script>
        <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <!-- 각화면 js생성하여 사용 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
        <script th:src="@{/js/approval.js}"></script>
    </body>
</html>
