<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>

    <typeAliases>
        <typeAlias alias="shopForm" type="com.binary.rapid.shop.form.ShopForm"/>
        <typeAlias alias="shopSearchForm" type="com.binary.rapid.shop.form.ShopSearchForm"/>
        <typeAlias alias="categoryForm" type="com.binary.rapid.category.form.CategoryForm"/>
    </typeAliases>
</configuration>
