<header id="header" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <div class="inner">
        <div id="logo">
            <a th:href="@{/}">
                <img th:src="@{/img/raFeed_Logo-Photoroom.png}" alt="RaFeed_Logo"/>
            </a>
        </div>

        <div class="navigation">
            <ul class="navMenu">
                <li><a th:href="@{/origin/origin}">유래</a></li>
                <li><a th:href="@{/regionTheme/regionTheme}">지역별/테마별</a></li>
                <li><a th:href="@{/board/news}">뉴스</a></li>
                <li><a th:href="@{/board/boardList}">게시판</a></li>
            </ul>
        </div>

        <div class="headerContent">
            <div id="user">

                <!-- 비로그인 -->
                <div class="userBox" th:if="${session.loginUser == null}">
                    <p><a th:href="@{/login}">로그인</a></p>
                    <span>|</span>
                    <p><a th:href="@{/login/register}">회원가입</a></p>
                </div>

                <!-- 일반 유저 -->
                <div class="userBox"
                     th:if="${session.loginUser != null and session.loginUser.role.name() == 'USER'}">
                    <p>
                        <span th:text="${session.loginUser.nickName}"></span>님 안녕하세요
                    </p>
                    <span>|</span>
                    <p><a th:href="@{/login/userBoardList}">마이 페이지</a></p>
                    <span>|</span>
                    <p><a href="#" class="logoutBtn">로그아웃</a></p>
                </div>

                <!-- 관리자 -->
                <div class="userBox admin"
                     th:if="${session.loginUser != null and session.loginUser.role.name() == 'ADMIN'}">
                    <p>
                        <span th:text="${session.loginUser.nickName}"></span>님 안녕하세요
                    </p>
                    <span>|</span>
                    <p><a th:href="@{/manager/managerMain}">관리자 페이지</a></p>
                    <span>|</span>
                    <p><a href="#" class="logoutBtn">로그아웃</a></p>
                </div>

                <div id="google_translate_element"></div>
            </div>

            <!-- 🔍 검색 영역 유지 -->
            <div class="searchWrap">
                <input type="text" id="search" placeholder=" Search..."/>
                <button id="search-button">
                    <img th:src="@{/img/ico-search-wh-56x56.png}" alt="Search"/>
                </button>
            </div>
        </div>
    </div>

    <script th:src="@{/js/logout.js}"></script>
</header>
