@charset "UTF-8";

#main {
    margin: 35px 0;
}

#originContainer {
    padding: 20px;
    margin: 30px auto;
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#originContainer .originRow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#originContainer .originRow .originImg {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border: 1px solid #333;
    border-radius: 20px;
    background: #555;
}

#originContainer .originRow .originDesc {
    flex: 1;
    height: 200px;
    background: #fff;
    border: 1px solid #333;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    color: #222;
}

.container {
    width: 1440px;
    margin: 20px auto;
    padding: 25px;
    background-color: #ffffff;
}

.container h1 {
    text-align: center;
    color: #ff8c09;
    margin-bottom: 40px;
}

.container h2 {
    font-size: 1.6em;
    color: #333;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #2fb2ee;
}

.container ul {
    list-style: none;
    padding-left: 20px;
}

.container li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    color: #222;
}

.container li::before {
    content: '◦';
    position: absolute;
    left: 0;
    top: 0;
    color: #d9534f;
    font-weight: bold;
}

.container ul li::before {
    content: '▪';
    color: #555;
}

.container strong {
    color: #0275d8;
}

.container .tabWrapper {
    margin: 40px 0;
}

.container .tabBtns {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
    justify-content: space-between;
}

.container .tabBtn {
    width: 100%;
    padding: 18px 0;
    border: none;
    background: #e6f6fd;
    color: #668c9f;
    font-size: 20px;
    border-radius: 12px 12px 0 0;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.container .tabBtn.active {
    background: #5ac3f5;
    font-weight: 600;
    color: #fff;
}

.container .tabContents {
    border: 2px solid #5ac3f5;
    border-radius: 0 0 16px 16px;
    background: #fff;
    padding: 32px 24px;
}

.container .tabContent {
    display: none;
}

.container .tabContent.active {
    display: block;
}
