@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

img {
    vertical-align: top;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}
