<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.binary.rapid.board.mapper.BoardMapper">



    <insert id="saveBoard" parameterType="com.binary.rapid.board.dto.BoardDto" useGeneratedKeys="true" keyProperty="id">

        INSERT INTO tb_board (category, title, contents, user_id, create_date)

        VALUES (#{category}, #{title}, #{contents}, #{userId}, NOW())

    </insert>



    <select id="selectBoardList" resultType="com.binary.rapid.board.dto.BoardDto">

        SELECT b.id,

               b.category,

               b.title,

               b.contents,

               b.user_id,

               b.create_date AS createDate,

               u.nickname AS writerName

        FROM tb_board b

                 LEFT JOIN tb_user u ON b.user_id = u.user_id

        WHERE b.delete_date IS NULL

        ORDER BY b.id DESC

    </select>



    <select id="selectBoardDetail" parameterType="int" resultType="com.binary.rapid.board.dto.BoardDto">

        SELECT b.id,

               b.category,

               b.title,

               b.contents,

               b.user_id,

               b.create_date AS createDate,

               u.nickname AS writerName

        FROM tb_board b

                 LEFT JOIN tb_user u ON b.user_id = u.user_id

        WHERE b.id = #{id}

          AND b.delete_date IS NULL

    </select>



    <update id="updateBoard" parameterType="com.binary.rapid.board.dto.BoardDto">

        UPDATE tb_board

        SET category = #{category},

            title = #{title},

            contents = #{contents},

            update_date = NOW()

        WHERE id = #{id} AND user_id =#{userId}

    </update>



    <update id="deleteBoard" parameterType="int">

        UPDATE tb_board

        SET delete_date = NOW()

        WHERE id = #{id}

    </update>



    <update id="deleteCommentsByBoardId" parameterType="int">

        UPDATE tb_boardComment

        SET delete_date = NOW()

        WHERE id = #{id}

    </update>



    <select id="selectCommentList" parameterType="int" resultType="com.binary.rapid.board.dto.BoardCommentDto">

        SELECT id,

               comment_seq AS commentSeq,

               comment,

               user_id,

               create_date AS createDate

        FROM tb_boardComment

        WHERE id = #{id}

          AND delete_date IS NULL

        ORDER BY comment_seq ASC

    </select>



    <insert id="insertComment" parameterType="com.binary.rapid.board.dto.BoardCommentDto">

        INSERT INTO tb_boardComment (id, comment_seq, comment, user_id, create_date)

        VALUES (#{id},

                (SELECT IFNULL(MAX(c.comment_seq), 0) + 1 FROM tb_boardComment c WHERE c.id = #{id}),

                #{comment},

                #{userId},

                NOW())

    </insert>



    <update id="updateComment" parameterType="com.binary.rapid.board.dto.BoardCommentDto">

        UPDATE tb_boardComment

        SET comment = #{comment},

            update_date = NOW()

        WHERE id = #{id}

          AND comment_seq = #{commentSeq}

    </update>



    <update id="deleteComment">

        UPDATE tb_boardComment

        SET delete_date = NOW()

        WHERE id = #{id}

          AND comment_seq = #{commentSeq}

    </update>



    <insert id="insertBoardFile" parameterType="com.binary.rapid.board.dto.BoardFileDto">

        INSERT INTO tb_boardFile (id, file_seq, file_addr, user_id, create_date)

        VALUES (#{id}, #{fileSeq}, #{fileAddr}, #{userId}, NOW())

    </insert>



</mapper>