<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.binary.rapid.ramen.mapper.RamenMapper">
    <select id="showHeroInfo" resultType="infoDto">
        SELECT id,name,image
        FROM tb_rameninfo
        WHERE id LIKE 'HR%'
        ORDER BY id
    </select>
    <select id="matchPopupCate" resultType="cateDto">
        SELECT id,group_id AS type
        FROM tb_category
        WHERE group_id != "region"
    </select>
    <select id="showSectInfo1" resultType="infoDto">
        SELECT *
        FROM tb_rameninfo
        WHERE id LIKE 'RM%'
        ORDER BY id
    </select>
    <select id="showSectInfo2" resultType="infoDto">
        SELECT *
        FROM tb_rameninfo
        WHERE id LIKE 'etc%'
        ORDER BY id
    </select>
    <select id="showPopup" resultType="popupDto" >
        SELECT id,name,soup,density AS richness,oily AS rich, thickness
        FROM tb_ramenpopup
    </select>
</mapper>