<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.binary.rapid.user.mapper.RefreshTokenMapper">

    <insert id="saveRefreshToken">
        INSERT INTO tb_refreshToken (user_id, token, expiry_date)
        VALUES (#{userId}, #{token}, #{expiryDate})
            ON DUPLICATE KEY UPDATE
                                 token = #{token},
                                 expiry_date = #{expiryDate}
    </insert>
    <select id="findTokenByUserId" resultType="string">
        SELECT token FROM tb_refreshToken
        WHERE user_id = #{userId} AND expiry_date > NOW()
    </select>

    <delete id="deleteByUserId">
        DELETE FROM tb_refreshToken WHERE user_id = #{userId}
    </delete>

    <delete id="deleteTokenByUserId">
        DELETE FROM tb_refreshToken
        WHERE user_id = #{userId}
    </delete>
    
</mapper>